
.navbarbg {
    height: 55px;
    background-color: white;
  }
  .navbar-brand {
    margin-left: 163px;
  }
  
  input.searche {
    height: 36px;
    max-width: 500px;
    background-color: #eef3f8;
    border: 0;
    padding-right: 80px;
    margin-right: 85px;
  }
  
  input.searche::placeholder {
    font-size: 14px;
    color: gray;
    background-image: url(/assets/search-solid.svg);
    background-repeat: no-repeat;
    background-size: 7%;
    padding-left: 26px;
  }
  
  .body {
    background-color: #f3f2ef;
    padding-top: 55px;
  }
  
  .menutext {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-top: 5px;
    font-weight: lighter;
  }
  
  .menutext:hover {
    color: black;
  }
  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  .nav-item img {
    border-radius: 50%;
    margin-bottom: -5px; /* Fotoğraf ile metin arasına boşluk */
  }
  
  button.mediatext {
    color: #5f5f5f;
  }
  
  button.mediatext:hover {
    color: #5f5f5f;
  }
  
  .mediatext {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f5f5f;
  }
  
  i {
    color: gray;
    margin-top: 8px;
  }
  i:hover {
    color: black;
  }
  
  input.content {
    border-radius: 40px;
    height: 45px;
  }
  input.content::placeholder {
    font-weight: bolder;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/assets/edit-regular.svg);
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  div.card {
    border-radius: 10px;
  }
  .card-title{
    padding-top: 1px;
    font-size: 16px;
    font-weight: bold;
  }
  .card-text{
    align-items: center;
    justify-content: center;
    
  }
  
  .header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
  }
  
  .view {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #5f5f5f;
  }
  
  .categories {
    font-size: 13px;
    font-weight: bold;
    color: #0a66c2;
  }
  
  li {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
  }
  
  .link {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #5f5f5f;
  }
  
  button.ref {
    color: white;
  }
  
  button.ref:hover {
    color: #5f5f5f;
  }
  .profile{
    border-radius: 50%;
    width: 50px;
    height: 50px;

  }
  .postphoto{
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .posttext {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-left: 8px;
  }
  .col-4-5 {
    flex: 0 0 37.5%;
    max-width: 37.5%; /* 4.5 sütun = (4.5 / 12) * 100 */
  }
  
  .margin-left {
    margin-left: 52px;
  }
  
  .transparent-button {
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 2%;
  }
  